{% extends 'base.html' %}

{% block content %}
<h1>Oculus Tracker</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Region</th>
        <th>Amount collected</th>
        <th>Total amount</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for oculi in oculus %}
        <tr>
            <td>{{oculi.name}}</td>
            <td>{{oculi.region}}</td>
            <td>{{oculi.amount_collected}}</td>
            <td>{{oculi.amount}}</td>
            <td>{{oculi.description}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}